<div class="row">
  <div class="card" style="width: 100%; text-align: center; padding-top: 50px; padding-bottom: 50px; background-color: #343a40">
    <div class="card-body">
      <h1 style="font-weight: bold; color: white">Bem-vindo!</h1>
      <p style="color: white">A melhor opção para quem deseja fazer um orçamento para a produção de seus jogos.</p>
      <p style="color: white">Entre com seu usuário para conhecer os nossos serviços</p>
      <button type="button" class="btn btn-danger signin-button">Criar Conta</button>
      <button type="button" class="btn btn-dark login-button">Entrar</button>
    </div>
  </div>
</div>
