/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

.login-button {
  background-color: black;
  border-color: black;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.login-button:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.signin-button {
  background-color: red;
  border-color: red;
  transition-property: color;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.signin-button:hover {
  color: red;
  background-color: white;
  border-color: red;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
