<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sounds">
      <h2 data-cy="soundsDetailsHeading"><span jhiTranslate="gamedevBudgetsApp.sounds.detail.title">Sounds</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sounds.id }}</span>
        </dd>
        <dt><span jhiTranslate="gamedevBudgetsApp.sounds.name">Name</span></dt>
        <dd>
          <span>{{ sounds.name }}</span>
        </dd>
        <dt><span jhiTranslate="gamedevBudgetsApp.sounds.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gamedevBudgetsApp.SoundTypes.' + sounds.type }}">{{ sounds.type }}</span>
        </dd>
        <dt><span jhiTranslate="gamedevBudgetsApp.sounds.format">Format</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gamedevBudgetsApp.SoundFormats.' + sounds.format }}">{{ sounds.format }}</span>
        </dd>
        <dt><span jhiTranslate="gamedevBudgetsApp.sounds.budget">Budget</span></dt>
        <dd>
          <span *ngFor="let budget of sounds.budgets; let last = last">
            <a [routerLink]="['/budget', budget?.id, 'view']">{{ budget.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sounds', sounds.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
